<script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstarp/dist/js/bootstrap.min.js"></script>
  <script src="Scripts/app.js"></script>
  <div class="footer">
      <p>Copyright@ShefaliSharma</p>
    </div>
</body>
</html>