<% include ../partials/header.ejs %>

  <div class="container">
    <div class="jumbotron">
        <h1 class="display-5">SHEFALI SHARMA</h1>
        <img src="../public/Content/Assests/images/Shefali.jpg" alt="My Photo" style="width:200px;height:200px;">
        <p class="lead"> I am a Software Enginerring Technology Student, persuing my post-graduate diploma from Centennial College.I have worked on a number of projects as a part of my academics during my studies at Centennial College using C#, HTML, ASP.net, java , Android.
                For one of my projects I created an Android based Mobile Application for Online Shopping and for the other one I developed an Android and web Based Application using C# and java.  </p>
       
        <p></p>
        <p class="lead">
          <a href="../public/Content/Assests/Resume.pdf"> RESUME</a>
        </p>
      </div>
  </div>
  <% include ../partials/footer.ejs %> 