<% include ../partials/header.ejs %>

  <div class="container">
    <div class="jumbotron">
            <h1 class="display-4">Contact ME</h1>
            <div class="panel panel-primary" style="border: 2px solid grey">
            <div class="panel-body">
                    Shefali Sharma <br>

                    sshar308@my.centennialcollege.ca
                    <br>

                    05236584236
            </div>
            
            </div>
            <div class="container">
                    <form action="action_page.php">
                        <h2>For queries fill the form...</h2>
                                                
                                <label for="name">Name</label>
                                 <input type="text" id="name" name="fname" placeholder="Please enter your name">
                                <label for="email">Email ID</label>
                      <input type="text" id="email" name="emailid" placeholder="Please enter your email id">
                      <label for="phone">Contact No.</label>
                      <input type="text" id="phone" name="phoneno" placeholder="Please enter your phone no">
                                    
                      <label for="message">Message</label>
                      <textarea id="message" name="message" placeholder="Enter your query here" style="height:200px"></textarea>
                      <a class="btn btn-primary btn-lg" href="/" role="button" >Submit</a>
                      
                    </form>
                    
                  </div> 
      </div>
  </div>

  
  <% include ../partials/footer.ejs %> 