<% include ../partials/header.ejs %>

  <div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to my Portfolio Website</h1>
        <p class="lead">"Welcome every opportunity as its for you only"  </p>
        
        <p>My website will help you to know about me.You can also take a tour to some of my projects.
            Just click on the provided links or buttons to navigate through the pages to know more about me....</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button" >Click to know about me</a>
        </p>
      </div>
  </div>
  <% include ../partials/footer.ejs %> 