<% include ../partials/header.ejs %>

  <div class="container">
    <div class="jumbotron">
        <h1 class="display-5">My Projects</h1>
        
        <p class="lead"> 
        <p>An android application named MOBILE STORE which is basically an online shopping application for mobile phones and can be used easily to buy mobile phones in a most easy and convenient way. This project was completed as a group project.</p>
        <p><img src="../public/Content/Assests/images/mobile1.png" style="width:200px;height:400px;">
            &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
        <img src="../public/Content/Assests/images/Mobile2.png" style="width:200px;height:400px;"></p>
      
         <br>
         <br>
         <p class="lead"> 
                <p>An android application named SCHEDULING APPLICATION , allowing the employees of a specific company using the application to check their schedule to work, paystubs, hour worked , clock-in and clock-out in a more convenient way .It was finished as a group assignment.</p>
                <p><img src="../public/Content/Assests/images/security2.JPG" style="width:200px;height:400px;">
                &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                <img src="../public/Content/Assests/images/Security4.png" style="width:600px;height:400px;"></p>
        </p>

      </div>
  </div>
  <% include ../partials/footer.ejs %> 