<% include ../partials/header.ejs %>

  <div class="container">
    <div class="jumbotron" >
        <h1 class="display-4">Services Provided...</h1>
                
        
        
          <table>
            <h>The services that we offer include.............</h>
            <tr>
              <td>
                  <ul style="list-style-type:disc;">
                  <li>Android application development</li>
                  <li>Web designing</li>
                  <li>Web development</li>
                  <li>Game development</li>
                  <li>IT system instalation </li>
                </ul>
              </td>
<td>
    <img src="../public/Content/Assests/images/android.png" style="width:100px;height:100px;">
</td>
<td>
    <img src="../public/Content/Assests/images/game.png" style="width:100px;height:100px;">
</td>
<td>
    <img src="../public/Content/Assests/images/it.png" style="width:150px;height:100px;">
</td>
<td>
    <img src="../public/Content/Assests/images/web.png" style="width:150px;height:100px;">
</td>
            </tr>
          </table>
               
              
              
             
              

      </div>
  </div>
  <% include ../partials/footer.ejs %> 