<% include ../partials/header.ejs %>

  <div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Services Provided...</h1>
                
        <p>The services that we offer include</p>
        <ul style="list-style-type:disc;">
                <li>Android application development</li>
                <li>Web designing</li>
                <li>Web development</li>
                <li>Game development</li>
                <li>IT system instalation </li>
              </ul>

      </div>
  </div>
  <% include ../partials/footer.ejs %> 